%primary-btn {
    padding: 6px 24px;
    background: var(--secondary-color);
    color: var(--white-color);
    font-size: 15px;
    font-weight: 500;
    font-family: var(--primary-font);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}