/****** Home Page One *******/

/***** Hero Section Start ******/
.github-btn {
    a {
        padding: 10px 15px;
        background-color: green;
        color: #fff;
        
    }
}
/***** Hero Section End ******/
